.tx-explanationbox-pi1 .clear {
	clear: both;
	height: 1px;
}

.tx-explanationbox-pi1 .box-heading {
	position: relative;
	width: 635px;
	margin: 0;
	padding: 10px;
	border: 1px solid #eee;
}

.tx-explanationbox-pi1 .box-heading .tx-explanationbox-pi1-active {
	cursor: default;
	color: #032359;
}

.tx-explanationbox-pi1 .box-heading .tx-explanationbox-pi1-inactive {
	cursor: pointer;
	color: #5f5f5f;
}

.tx-explanationbox-pi1 .box-heading .section-navigation {
	position: relative;
}

.tx-explanationbox-pi1 .box-heading .tx-explanationbox-pi1-page-browser {
	position: absolute;
	right: 10px;
	bottom: 0;
}

.tx-explanationbox-pi1 .box-heading .tx-explanationbox-pi1-page-browser img {
	padding: 2px;
}

.tx-explanationbox-pi1 .box-heading .tx-explanationbox-pi1-page-browser img.tx-explanationbox-pi1-active {
	cursor: pointer;
	visibility: visible;
}

.tx-explanationbox-pi1 .box-heading .tx-explanationbox-pi1-page-browser img.tx-explanationbox-pi1-inactive {
	visibility: hidden;
}

.tx-explanationbox-pi1 .box-content {
	position: relative;
	width: 657px;
	margin: 0;
	padding: 0;
	background: #eee;
}

.tx-explanationbox-pi1 .box-content .section {
	margin: 0;
	padding: 10px;
}

.tx-explanationbox-pi1 .box-content .tx-explanationbox-pi1-active {
	display: block;
}

.tx-explanationbox-pi1 .box-content .tx-explanationbox-pi1-inactive {
	display: none;
}

.tx-explanationbox-pi1 .box-content .tx-explanationbox-pi1-one-column {
	width: 100%;
}

.tx-explanationbox-pi1 .box-content .tx-explanationbox-pi1-two-columns .tx-explanationbox-pi1-column-1,
.tx-explanationbox-pi1 .box-content .tx-explanationbox-pi1-two-columns .tx-explanationbox-pi1-column-2 {
	width: 48%;
}

.tx-explanationbox-pi1 .box-content .tx-explanationbox-pi1-two-columns .tx-explanationbox-pi1-column-1 {
	float: left;
}

.tx-explanationbox-pi1 .box-content .tx-explanationbox-pi1-two-columns .tx-explanationbox-pi1-column-2 {
	float: right;
}