.tx-explanationbox-pi1 .box-heading {
	position: relative;
	width: 635px;
	margin: 0;
	padding: 10px;
	border: 1px solid #eee;
}

.tx-explanationbox-pi1 .box-heading .active {
	cursor: default;
	color: #032359;
}

.tx-explanationbox-pi1 .box-heading .inactive {
	cursor: pointer;
	color: #5f5f5f;
}

.tx-explanationbox-pi1 .box-heading .section-navigation {
	position: absolute;
	top: 10px;
	right: 10px;
}

.tx-explanationbox-pi1 .box-heading .section-navigation img.active {
	cursor: pointer;
	visibility: visible;
}

.tx-explanationbox-pi1 .box-heading .section-navigation img.inactive {
	visibility: hidden;
}

.tx-explanationbox-pi1 .box-content {
	position: relative;
	width: 657px;
	margin: 0;
	padding: 0;
	background: #eee;
}

.tx-explanationbox-pi1 .box-content .section {
	margin: 0;
	padding: 10px;
}

.tx-explanationbox-pi1 .box-content .active {
	visibility: visible;
}

.tx-explanationbox-pi1 .box-content .inactive {
	visibility: hidden;
}

.tx-explanationbox-pi1 .box-content .one-column {
	width: 100%;
}

.tx-explanationbox-pi1 .box-content .two-columns {
	width: 50%;
	position: absolute;
	top: 0;
}

.tx-explanationbox-pi1 .box-content .two-columns .column-1 {
	left: 0;
	border-right: 1px solid #000;
}

.tx-explanationbox-pi1 .box-content .two-columns .column-2 {
	right: 0;
}